* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  background-color: #ffede4;
  color: rgba(34, 29, 29, 0.87);
}

.content-layer {
  position: relative;
  z-index: 2;
}

.title {
  font-family: 'Honk', system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'MORF' 15, 'SHLN' 50;
  font-size: clamp(2rem, 6vw, 4rem);
  margin: 1rem auto;
  width: fit-content;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
  gap: 16px;
  width: 1600px;
  max-width: calc(100vw - 24px * 2);
  margin-inline: auto;
}

.card {
  background-color: #fff;
  border: 8px solid #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card__button {
  background-color: transparent;
  border: none;
  cursor: zoom-in;
  line-height: 0;
}

.card__button:focus {
  outline-color: palevioletred;
  outline-offset: 4px;
}

.card__image {
  aspect-ratio: 1/1;
  object-fit: cover;
  max-width: 100%;
}

.card__caption {
  background-color: #fff;
  text-align: right;
  padding-inline-end: 2px;
  font-family: 'Caveat', cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.overlay {
  position: fixed;
  inset: 0;
  display: grid;
  place-content: center;
  padding: 2rem;
  background-color: #211e1eeb;
  z-index: 10;
}

.overlay__image {
  max-width: 100%;
  aspect-ratio: 16 /9;
  object-fit: contain;
}

.overlay__button {
  position: absolute;
  background-color: #ffdede;
  padding: 8px 16px;
  border: 1px solid transparent;
  outline: none;
  border-radius: 200px;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'Caveat', cursive;
}

.overlay__button:not(:disabled) {
  cursor: pointer;
}

.overlay__button:not(:disabled):hover,
.overlay__button:not(:disabled):focus {
  border-color: deeppink;
}

.button--center {
  top: 50%;
  transform: translateY(-50%);
}

.button--left {
  left: clamp(16px, 2vw, 32px);
}

.button--right {
  right: clamp(16px, 2vw, 32px);
}

.button--bottom {
  bottom: clamp(16px, 2vw, 32px);
}

.error-message {
  padding: 32px;
  width: fit-content;
  margin-inline: auto;
}

.footer {
  padding: 48px 16px 32px;
  text-align: center;
  background-color: rgb(255, 237, 228, 0.6);
}

.footer__link {
  text-decoration: 1px underline wavy transparent;
  text-underline-offset: 4px;
  color: inherit;
  font-weight: 500;
}

.footer__link:hover,
.footer__link:focus {
  text-decoration-color: hotpink;
}

.footer__button {
  font-size: 24px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.349);
  position: absolute;
  right: 16px;
  bottom: 32px;
}

.footer__button:hover,
.footer__button:focus {
  box-shadow: 0 0 2px 2px rgba(255, 105, 180, 0.829);
}

.sakura {
  position: fixed;
  inset: 0;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' font-size='24'><text y='20'>🌸</text></svg>");
  background-repeat: repeat;
  background-size: 32px 32px;
  user-select: none;
  overflow: hidden;
}

.paused-animation {
  animation-play-state: paused !important;
  -o-animation-play-state: paused !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #3d3d3d;
    color: rgba(255, 255, 255, 0.87);
  }
  .footer {
    background-color: rgb(61, 61, 61, 0.6);
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
  .overlay__button {
    transition: border 300ms ease-in-out;
  }
  .footer__link {
    transition: text-decoration 300ms ease-in-out;
  }
  .footer__button {
    transition: box-shadow 300ms ease-in-out;
  }

  @keyframes fall {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 0 500px;
    }
    100% {
      background-position: 0 1000px;
    }
  }
  @keyframes drift {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 0 800px;
    }
  }

  .sakura {
    animation: fall 40s linear infinite;
  }

  .sakura::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' font-size='20'><text y='18'>🌸</text></svg>");
    background-repeat: repeat;
    background-size: 40px 40px;
    opacity: 0.4;
  }
}
