* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  background-color: #ffede4;
  color: rgba(34, 29, 29, 0.87);
}

.title {
  font-family: 'Honk', system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'MORF' 15, 'SHLN' 50;
  font-size: clamp(2rem, 6vw, 4rem);
  text-align: center;
  margin-block: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #3d3d3d;
    color: rgba(255, 255, 255, 0.87);
  }
}
